.button {
  display: inline-block;
  background-color: goldenrod;
  border: none;
  color: white;
  padding: 13px 30px;
  text-decoration: none;
  font-size: 25px;
  margin: 0px auto 35px;
  cursor: pointer;
  border-radius: 4px;
}

.button-on {
  background-color: goldenrod;
}

.button-on:active {
  background-color: goldenrod;
}

.button-off {
  background-color: dimgray;
}

.button-off:active {
  background-color: dimgray;
}

p {
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
}

table, th, td{
  text-align: left;
  vertical-align: center;
  height: 30px;
  padding: 4px;
  color: gray
}

.settingsDiv {
  text-align: left;
  width: 100%;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 21px;
  border-radius: 5px;
  background: gainsboro;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 0;
  background: goldenrod;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: goldenrod;
  cursor: pointer;
}

.table_preview, .tr_preview, .td_preview {
  border: 1px solid black;
  border-collapse: collapse;
}

.tr_preview, .td_preview {
  height: 30px;
  width: 30px;
}

.td_preview {
  text-align: center;
  vertical-align: center;
}
